.row-header{
  marign: 0px auto;
  padding: 0px auto;

}
.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer{
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px ;

}.jumbotron{
  padding: 70px 30px 70px 30px;
  margin: 0px;
  background-color: #9575CD;
  color: floralwhite;
}
.adress{
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body{
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-dark{
  background-color: black;
}

.card-header{
  background-color: darkorange;
}
#btn-reserve{
  padding: 20px 40px 20px 40px;
}

.tab-content{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

a:hover, li:hover{
  cursor: pointer;
}

.carousel{
  background-color: black;
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselbuttom{
  position: absolute;
  right: 0;
  bottom:0;
}
